.flexUl ul{
	min-width: 610px;
}

.flexUl ul li{
	min-width: 80px;
	cursor: pointer;
}

.flexUl ul li:nth-child(1){
	flex-grow: 1;
	min-width: 208px;
	justify-content: flex-start;
}

.flexUl ul li:nth-child(2){
	width: 130px;
	min-width: 80px;
	justify-content: center;
}

.flexUl ul li:nth-child(4){
	width: 400px;
	min-width: 200px;
	justify-content: flex-start;
}

.flexUl ul li:nth-child(5){
	flex-grow: unset;
	width: 30px;
	min-width: 30px;
	justify-content: center;
}

nav.tools li.amount, nav.tools li.amount span{
	font-size: 21px;
	color: rgb(163, 4, 4);
	cursor: auto;
}
