section.conteudo div{
	width: 60%;
	min-width: 500px;
}

section.conteudo ul li{
	width: 44.5%;
}

section.conteudo ul li:nth-child(2){
	width: 10%;
	text-align: center;
}

section.conteudo ul{
	white-space: nowrap;
	width: 100%;
}

section.conteudo ul:nth-child(1){
	color: rgb(163, 4, 4);
}

section.conteudo ul:nth-child(odd){
	background: rgba(230, 230, 230, 0.5);
}

@media screen and (max-width: 768px) {

	section.conteudo{
		justify-content: flex-start;
	}

	section.conteudo div{
		width: 100%;
		min-width: 0;
	}

	section.conteudo ul li{
		width: 43.8%;
	}
	
	section.conteudo ul li:nth-child(2){
		width: 10%;
	}
	

}