nav.tools li:nth-child(1){
	color: rgb(163, 4, 4);
	font-size: 18px;
}

section.conteudo li{
	width: 120px;
	text-align: center;
}

section.conteudo ul{
	cursor: pointer;
}

section.conteudo ul:nth-child(1){
	color: rgb(163, 4, 4);
	cursor: default;
}

section.conteudo div ul:nth-child(odd){
	background: rgba(230, 230, 230, 0.5);
}

section.conteudo li:nth-child(1){
	text-align: left;
	width: 200px;
}

section.conteudo li:last-child{
	text-align: left;
	width: 250px;
	cursor: default;
}

#cxBaixa label{
	font-weight: bold;	
}

#cxBaixa span{
	padding-left: 10px;	
}

@media screen and (max-width: 768px) {
	section.conteudo{
		justify-content: flex-start;
	}
	
	section.conteudo ul{
		white-space: nowrap;
	}

	section.conteudo li{
		width: 90px;
	}
	
	section.conteudo li:nth-child(1){
		width: 185px;
	}

}